body {
    background-color: rgb(107, 107, 247);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;

}
section {
    background-color: white;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.226);
}
div {
    text-align:center;
    padding: 8px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}